<header class="page-header">
  <h1>Info</h1>
</header>

<body>
  <h3>
    <%= link_to 'Jungle', :root %>
  </h3>
  <p> 
    is the global marketplace for unique and creative goods. It’s home to a universe of special, extraordinary items, from unique handcrafted   pieces to vintage treasures. 
  </p>
  
  <div>
    <%= link_to 'Policies', :root %>
  </div>
  <div>
    <%= link_to 'Investors', :root %>
  </div>
  <div>
    <%= link_to 'Careers', :root %>
  </div>
  <div>
    <%= link_to 'Press', :root %>
  </div>
  <div>
    <%= link_to 'Impact', :root %>
  </div>
  <div>
    <%= link_to 'Social Media', :root %>
  </div>
</body>